.htaccess

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/index.php
!wp-content/w3tc-config
wp-snapshots/*

php.ini
.user.ini

wp-config.production.php
wp-config.staging.php
wp-config.php


robots.txt
